
body {
    background-color:#c9b290;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color:#fad6a5;
}

.search-div {
    position: absolute;
    left: 40%;
    gap: 3px;
    display: flex;
    flex-direction: row;
}

input#search {
    border: 3px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    width: 350px;
    height: 30px;
}

label{
    font-size: xx-large;
}

p#titolo {
    font-size: xx-large;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
}

.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 500px;
    background-color: #fad6a5;
    border: 2px solid #988e7a;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.translation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 500px;
    background-color: #fad6a5;
    border: 2px solid #988e7a;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.show-search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #fad6a5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    top: 91%;
    width: 99%;
    height: 45px;
    padding-bottom: 10px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}